extends layout

block content
  h1 What is PAYem?
  hr
  .row
    .col-sm-12
      p Payem stands for pay them. Payem is an integrated application designed for end users which will provide all individual hassle free money transactions. This application integrates various financial services into A single application. Ideally, the whole content of physical wallet can be used in A single web based app.
      p Payem  is an cross platform wallet application which is enhanced secure payment method which is user controlled and will have all the information of all your credit /debit /shopping cards which will reduce the dependency to carry them physically, PAYem will combine all the daily financial transaction and provide detailed information in one click.
      p Our project is software based application which thrives to reduce a pain point of an individual and give easy life. Payem ideally will use fundamental of artificial intelligence. Payem will be A proxy between end users and banking systems.
